.filterContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.filterInput {
  margin: 0.25rem;
}

.buttonHidden {
  display: none;
}

.buttonVisible {
  display: block;
}