.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "navbar main main main"
    "footer footer footer footer";
}

.headerWrapper {
  grid-area: header;
  justify-self: center;
  padding: 1rem;
  border: 5px solid darkgray;
  border-radius: 20px;
}

.mainWrapper {
  grid-area: main;
}

.navWrapper {
  grid-area: navbar;
}

.footerWrapper {
  grid-area: footer;
}
